In [5]:
import pandas as pd

In [79]:
f5 = pd.read_csv("2015.csv")
f5 = f5.drop(columns=['Region', 'Standard Error', 'Dystopia Residual'])
f5 = f5.rename(columns={"Economy (GDP per Capita)": "GDP per Capita", "Family": "Social support", "Health (Life Expectancy)": "Life Expectancy", "Freedom": "Freedom to make life choices", "Trust (Government Corruption)": "Government Trust"})
year = 2015
f5['Year'] = year
f5.head()

,Country,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom to make life choices,Government Trust,Generosity,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [80]:
f6 = pd.read_csv("2016.csv")
f6 = f6.drop(columns=['Region', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Dystopia Residual'])
f6 = f6.rename(columns={"Economy (GDP per Capita)": "GDP per Capita", "Family": "Social support", "Health (Life Expectancy)": "Life Expectancy", "Freedom": "Freedom to make life choices", "Trust (Government Corruption)": "Government Trust"})
year = 2016
f6['Year'] = year
f6.head()

,Country,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom to make life choices,Government Trust,Generosity,Year
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2016
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2016
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2016
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2016
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2016

In [81]:
f7 = pd.read_csv("2017.csv")
f7 = f7.drop(columns=['Whisker.high', 'Whisker.low', 'Dystopia.Residual'])
f7 = f7.rename(columns={"Happiness.Rank": "Happiness Rank","Happiness.Score": "Happiness Score", "Economy..GDP.per.Capita.": "GDP per Capita", "Family": "Social support", "Health..Life.Expectancy.": "Life Expectancy", "Freedom": "Freedom to make life choices", "Trust..Government.Corruption.": "Government Trust"})
year = 2017
f7['Year'] = year
columns_titles = ["Country", "Happiness Rank", "Happiness Score", "GDP per Capita", "Social support", "Life Expectancy", "Freedom to make life choices", "Government Trust", "Generosity", "Year"]
f7=f7.reindex(columns=columns_titles)
f7.head()

,Country,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom to make life choices,Government Trust,Generosity,Year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2017

In [89]:
f8 = pd.read_csv("2018.csv")
f8 = f8.rename(columns={"Overall rank": "Happiness Rank", "GDP per capita": "GDP per Capita", "Country or region": "Country", "Score": "Happiness Score", "Healthy life expectancy": "Life Expectancy", "Perceptions of corruption": "Government Trust"})
year = 2018
f8['Year'] = year

f8 = f8[["Country", "Happiness Rank", "Happiness Score", "GDP per Capita", "Social support", "Life Expectancy", "Freedom to make life choices", "Government Trust", "Generosity", "Year"]]
f8.head()

,Country,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom to make life choices,Government Trust,Generosity,Year
0,Finland,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202,2018
1,Norway,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286,2018
2,Denmark,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284,2018
3,Iceland,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353,2018
4,Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256,2018

In [90]:
f9 = pd.read_csv("2019.csv")
f9 = f9.rename(columns={"Overall rank": "Happiness Rank", "GDP per capita": "GDP per Capita", "Country or region": "Country", "Score": "Happiness Score", "Healthy life expectancy": "Life Expectancy", "Perceptions of corruption": "Government Trust"})
year = 2019
f9['Year'] = year
columns_titles = ["Country", "Happiness Rank", "Happiness Score", "GDP per Capita", "Social support", "Life Expectancy", "Freedom to make life choices", "Government Trust", "Generosity", "Year"]
f9=f9.reindex(columns=columns_titles)
f9.head()

,Country,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom to make life choices,Government Trust,Generosity,Year
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,2019
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,2019
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,2019
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,2019
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,2019

In [92]:
frames = [f5, f6, f7, f8, f9]
result = pd.concat(frames)
result.head()

,Country,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom to make life choices,Government Trust,Generosity,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [93]:
result.describe()

,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom to make life choices,Government Trust,Generosity,Year
count,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,781.000000,782.000000,782.000000
mean,78.698210,5.379018,0.916047,1.078392,0.612416,0.411091,0.125436,0.218576,2016.993606
std,45.182384,1.127456,0.407340,0.329548,0.248309,0.152880,0.105816,0.122321,1.417364
min,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015.000000
25%,40.000000,4.509750,0.606500,0.869363,0.440183,0.309768,0.054000,0.130000,2016.000000
50%,79.000000,5.322000,0.982205,1.124735,0.647310,0.431000,0.091000,0.201982,2017.000000
75%,118.000000,6.189500,1.236187,1.327250,0.808000,0.531000,0.156030,0.278832,2018.000000
max,158.000000,7.769000,2.096000,1.644000,1.141000,0.724000,0.551910,0.838075,2019.000000

In [66]:
result.to_csv('Merged in Python.csv')